//generic

$box-shadow-light: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
$box-shadow-strong: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
$box-shadow-medium: 2px 2px 2px 1px rgba(0, 0, 0, 0.35);
//modal

$modal-background: rgba(0, 0, 0, 0.8);

//colors

$lightblue: #78B7EB;
$lightblue-faded:#7fc5c5da;

//fonts

$font-family-basic: 'Titillium Web', sans-serif;
