@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #7fc5c5da;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78B7EB;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  background: white;
  overflow-x: hidden;
}

.errormessage {
  margin-top: 20px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.successmessage {
  color: #2b7515;
  background: #ecffd6;
  padding: 5px;
  border: 1px solid #617c42;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.warningmessage {
  color: #756e15;
  background: #fffbd1;
  padding: 5px;
  border: 1px solid #87803e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f6f7f7;
  background: linear-gradient(18deg, #f6f7f7 73%, #78b7eb 100%);
  height: 22vh;
}

.headerContainer .flagsHolder {
  margin-right: 3vw;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.headerContainer .flagsHolder img {
  margin-left: 5px;
}

.headerContainer .navHolderDesktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
}

.flagHolder {
  margin-top: 6px;
}

.dropDownButton {
  margin-right: 10vw;
  border: 2px solid #78B7EB;
  background: #78B7EB;
  color: white;
  padding: 3px;
  font-weight: 600;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.dropDownButton:hover {
  border: 2px solid #78B7EB;
  background: white;
  color: #78B7EB;
}

.loginButton {
  position: absolute;
  right: 0px;
  margin-right: 3vw;
  border-radius: 15px;
  top: 110px;
  border: 2px solid #78B7EB;
  background: #78B7EB;
  color: white;
  font-weight: 600;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.loginButton:hover {
  border: 2px solid #78B7EB;
  background: white;
  color: #78B7EB;
}

.logoutIcon {
  position: absolute;
  right: 3vw;
  top: 120px;
}

@media only screen and (max-width: 870px) {
  .dropDownButton {
    margin-right: 1vw;
  }
}
/*# sourceMappingURL=Header.css.map */