@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #7fc5c5da;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78B7EB;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  background: white;
  overflow-x: hidden;
}

.errormessage {
  margin-top: 20px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.successmessage {
  color: #2b7515;
  background: #ecffd6;
  padding: 5px;
  border: 1px solid #617c42;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.warningmessage {
  color: #756e15;
  background: #fffbd1;
  padding: 5px;
  border: 1px solid #87803e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.outerContainer {
  display: -ms-grid;
  display: grid;
  margin-left: 30vw;
  margin-right: 40vw;
  width: 50px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 4px solid black;
}

.outerContainer .rowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.outerContainer .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  color: black;
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outerContainer .inputCell {
  color: #78B7EB;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.outerContainer input {
  font-size: 140%;
  text-align: center;
}

.solutionContainer {
  display: -ms-grid;
  display: grid;
  margin-left: 30vw;
  margin-right: 40vw;
  width: 80vw;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 4px solid black;
}

.solutionContainer .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  color: black;
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solutionContainer .solutionCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  color: red;
  font-size: 140%;
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20vw;
  top: 50vh;
  gap: 15px;
}

.sudokuFormButton {
  position: absolute;
  right: 20vw;
  top: 60vh;
}
/*# sourceMappingURL=SudokuEasy.css.map */